<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-icon name="heart"></ion-icon>
    <ion-icon name="heart"></ion-icon>
    <ion-icon name="heart"></ion-icon>
    <ion-label color="primary">Welcome to Odoo 13!</ion-label>
    <ion-icon name="heart"></ion-icon>
    <ion-icon name="heart"></ion-icon>
    <ion-icon name="heart"></ion-icon>
  </ion-item>
  <form #form="ngForm" (ngSubmit)="senddata(form)" method="post">
    <ion-item>
      <ion-label position="floating">User Name:</ion-label>
      <ion-input ngModel name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">PhoneNumber:</ion-label>
      <ion-input ngModel name="phonenumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address:</ion-label>
      <ion-input ngModel name="address"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Save</ion-button>
  </form>
</ion-content>
